- request: !!python/object:vcr.request.Request
    body: null
    headers: !!python/object/apply:__builtin__.frozenset
    - - !!python/tuple [Accept, application/json]
      - !!python/tuple [Accept-Encoding, 'gzip, deflate, compress']
      - !!python/tuple [User-Agent, python-requests/2.0.1 CPython/2.7.5 Darwin/13.0.0]
      - !!python/tuple [Authorization, Basic YWRtaW46YTJlNzc3ZmJiMmQ5OGZkMDQ0NjFkNzAwNDYzYThlZDcxNzgyZTQ3NQ==]
    host: somethingequallycreative-jackie-huynh.dev1.syd1bc.bigcommerce.net
    method: GET
    path: /api/v2/products?limit=10&page=2
    port: 443
    protocol: https
  response:
    body: {string: '[{"id":42,"keyword_filter":null,"name":"[Sample] Modern Amusement,
        hozey maccas striped tee","type":"physical","sku":"","description":"<p><strong>How
        to write product descriptions that sell<\/strong><br \/>One of the best things
        you can do to make your store successful is invest some time in writing great
        product descriptions. You want to provide detailed yet concise information
        that will entice potential customers to buy.<br \/><br \/>Keep three things
        in mind:<br \/><br \/><strong>Think like a consumer<\/strong><br \/>Think
        about what you as a consumer would want to know, then include those features
        in your description. For clothes: materials and fit. For food: ingredients
        and how it was prepared. Bullets are your friends when listing features &mdash;
        try to limit each one to 5-8 words.<br \/><br \/><strong>Find differentiators<\/strong><br
        \/>Pepper your features with details that show how the product stands out
        against similar offerings. For clothes: is it vintage or hard to find? For
        art: is the artist well known? For home d&eacute;cor: is it a certain style
        like mid-century modern? Unique product descriptions not only help you stand
        out, they improve your SEO.<br \/><br \/><strong>Keep it simple<\/strong><br
        \/>Provide enough detail to help consumers make an informed decision, but
        don&rsquo;t overwhelm with a laundry list of features or flowery language.
        Densely pack your descriptions with useful information and watch products
        fly off the shelf.<\/p>","search_keywords":null,"availability_description":"","price":"69.0000","cost_price":"0.0000","retail_price":"0.0000","sale_price":"0.0000","calculated_price":"69.0000","sort_order":0,"is_visible":true,"is_featured":false,"related_products":"-1","inventory_level":0,"inventory_warning_level":0,"warranty":null,"weight":"0.8000","width":"0.0000","height":"0.0000","depth":"0.0000","fixed_cost_shipping_price":"5.0000","is_free_shipping":false,"inventory_tracking":"none","rating_total":0,"rating_count":0,"total_sold":0,"date_created":"Fri,
        21 Sep 2012 05:41:04 +0000","brand_id":21,"view_count":1,"page_title":"","meta_keywords":null,"meta_description":null,"layout_file":"product.html","is_price_hidden":false,"price_hidden_label":"","categories":[1],"date_modified":"Wed,
        04 Dec 2013 23:29:19 +0000","event_date_field_name":"Delivery Date","event_date_type":"none","event_date_start":"","event_date_end":"","myob_asset_account":"","myob_income_account":"","myob_expense_account":"","peachtree_gl_account":"","condition":"New","is_condition_shown":false,"preorder_release_date":"","is_preorder_only":false,"preorder_message":"","order_quantity_minimum":0,"order_quantity_maximum":0,"open_graph_type":"product","open_graph_title":"","open_graph_description":null,"is_open_graph_thumbnail":true,"upc":null,"date_last_imported":"","option_set_id":14,"tax_class_id":0,"option_set_display":"right","bin_picking_number":"","custom_url":"\/modern-amusement-hozey-maccas-striped-tee\/","availability":"available","brand":{"url":"https:\/\/somethingequallycreative-jackie-huynh.dev1.syd1bc.bigcommerce.net\/api\/v2\/brands\/21.json","resource":"\/brands\/21"},"images":{"url":"https:\/\/somethingequallycreative-jackie-huynh.dev1.syd1bc.bigcommerce.net\/api\/v2\/products\/42\/images.json","resource":"\/products\/42\/images"},"discount_rules":{"url":"https:\/\/somethingequallycreative-jackie-huynh.dev1.syd1bc.bigcommerce.net\/api\/v2\/products\/42\/discountrules.json","resource":"\/products\/42\/discountrules"},"configurable_fields":{"url":"https:\/\/somethingequallycreative-jackie-huynh.dev1.syd1bc.bigcommerce.net\/api\/v2\/products\/42\/configurablefields.json","resource":"\/products\/42\/configurablefields"},"custom_fields":{"url":"https:\/\/somethingequallycreative-jackie-huynh.dev1.syd1bc.bigcommerce.net\/api\/v2\/products\/42\/customfields.json","resource":"\/products\/42\/customfields"},"videos":{"url":"https:\/\/somethingequallycreative-jackie-huynh.dev1.syd1bc.bigcommerce.net\/api\/v2\/products\/42\/videos.json","resource":"\/products\/42\/videos"},"skus":{"url":"https:\/\/somethingequallycreative-jackie-huynh.dev1.syd1bc.bigcommerce.net\/api\/v2\/products\/42\/skus.json","resource":"\/products\/42\/skus"},"rules":{"url":"https:\/\/somethingequallycreative-jackie-huynh.dev1.syd1bc.bigcommerce.net\/api\/v2\/products\/42\/rules.json","resource":"\/products\/42\/rules"},"option_set":{"url":"https:\/\/somethingequallycreative-jackie-huynh.dev1.syd1bc.bigcommerce.net\/api\/v2\/optionsets\/14.json","resource":"\/optionsets\/14"},"options":{"url":"https:\/\/somethingequallycreative-jackie-huynh.dev1.syd1bc.bigcommerce.net\/api\/v2\/products\/42\/options.json","resource":"\/products\/42\/options"},"tax_class":{"url":"https:\/\/somethingequallycreative-jackie-huynh.dev1.syd1bc.bigcommerce.net\/api\/v2\/taxclasses\/0.json","resource":"\/taxclasses\/0"}},{"id":43,"keyword_filter":null,"name":"[Sample]
        Gant, mens casual BW check shirt","type":"physical","sku":"","description":"<p><strong>How
        to write product descriptions that sell<\/strong><br \/>One of the best things
        you can do to make your store successful is invest some time in writing great
        product descriptions. You w[...]
