- request: !!python/object:vcr.request.Request
    body: code=9tqwwadit8bc3h2lj37kmiv2bq0804v&client_id=iu4mk0piq5r664w687c1d6lv84mz1s9&redirect_uri=https%3A%2F%2F61798136.ngrok.com%2Fauth%2Fcallback&context=stores%2F65j86n8y&scope=store_v2_orders+store_v2_products+store_v2_customers+store_v2_content+store_v2_marketing+store_v2_information_read_only+store_v2_shipping_read_only+users_basic_information&client_secret=ntb1kcxa1do55wf0h25ps7h94fnsoi6&grant_type=authorization_code
    headers: !!python/object/apply:__builtin__.frozenset
    - - !!python/tuple [Accept, application/json]
      - !!python/tuple [Content-Type, application/x-www-form-urlencoded]
      - !!python/tuple [Content-Length, '422']
    host: login-dev.bigcommerceapp.com
    method: POST
    path: /oauth2/token
    port: 443
    protocol: https
  response:
    body: {string: '{"access_token":"1qntu1f1fpyqw20prl3spstolfjpisk","scope":"store_v2_orders
        store_v2_products store_v2_customers store_v2_content store_v2_marketing store_v2_information_read_only
        store_v2_shipping_read_only users_basic_information","user":{"id":72,"username":"Jackie
        Huynh","email":"jackie.huynh@bigcommerce.com"},"context":"stores/65j86n8y"}'}
    headers: {cache-control: 'no-cache, no-store', connection: keep-alive, content-length: '342',
      content-type: application/json; charset=utf-8, date: 'Mon, 06 Jan 2014 03:33:29
        GMT', pragma: no-cache, set-cookie: '_bc-oauth2-provider_session=BAh7BkkiD3Nlc3Npb25faWQGOgZFVEkiJWE3MTI3NzQ0MWUxYjcwNTgxMTI5YTQyYThjYzcwZmZiBjsAVA%3D%3D--e9c5f7c729f3cd8b7b7ac693a829a207415ceaff;
        path=/; expires=Mon, 06-Jan-2014 03:48:29 GMT; HttpOnly; secure', status: 200
        OK, strict-transport-security: max-age=31536000, x-content-type-options: nosniff,
      x-rack-cache: 'invalidate, pass', x-request-id: 88b990ded3cc65a2ffd8fa7ab597c2f9,
      x-runtime: '0.625699', x-ua-compatible: 'IE=Edge,chrome=1'}
    status: {code: 200, message: OK}
- request: !!python/object:vcr.request.Request
    body: null
    headers: !!python/object/apply:__builtin__.frozenset
    - - !!python/tuple [Accept, application/json]
      - !!python/tuple [X-Auth-Token, !!python/unicode '1qntu1f1fpyqw20prl3spstolfjpisk']
      - !!python/tuple [X-Auth-Client, iu4mk0piq5r664w687c1d6lv84mz1s9]
    host: 18828145.ngrok.com
    method: GET
    path: /stores/65j86n8y/v2/products?limit=5
    port: 443
    protocol: https
  response:
    body: {string: '[{"id":32,"keyword_filter":null,"name":"[Sample] Tomorrow is today,
        Red printed scarf","type":"physical","sku":"","description":"<p><strong>How
        to write product descriptions that sell<\/strong><br \/>One of the best things
        you can do to make your store successful is invest some time in writing great
        product descriptions. You want to provide detailed yet concise information
        that will entice potential customers to buy.<br \/><br \/>Keep three things
        in mind:<br \/><br \/><strong>Think like a consumer<\/strong><br \/>Think
        about what you as a consumer would want to know, then include those features
        in your description. For clothes: materials and fit. For food: ingredients
        and how it was prepared. Bullets are your friends when listing features &mdash;
        try to limit each one to 5-8 words.<br \/><br \/><strong>Find differentiators<\/strong><br
        \/>Pepper your features with details that show how the product stands out
        against similar offerings. For clothes: is it vintage or hard to find? For
        art: is the artist well known? For home d&eacute;cor: is it a certain style
        like mid-century modern? Unique product descriptions not only help you stand
        out, they improve your SEO.<br \/><br \/><strong>Keep it simple<\/strong><br
        \/>Provide enough detail to help consumers make an informed decision, but
        don&rsquo;t overwhelm with a laundry list of features or flowery language.
        Densely pack your descriptions with useful information and watch products
        fly off the shelf.<\/p>","search_keywords":null,"availability_description":"","price":"89.0000","cost_price":"0.0000","retail_price":"0.0000","sale_price":"0.0000","calculated_price":"89.0000","sort_order":0,"is_visible":true,"is_featured":true,"related_products":"-1","inventory_level":0,"inventory_warning_level":0,"warranty":null,"weight":"0.3000","width":"0.0000","height":"0.0000","depth":"0.0000","fixed_cost_shipping_price":"10.0000","is_free_shipping":false,"inventory_tracking":"none","rating_total":0,"rating_count":0,"total_sold":0,"date_created":"Fri,
        21 Sep 2012 02:31:01 +0000","brand_id":17,"view_count":4,"page_title":"","meta_keywords":null,"meta_description":null,"layout_file":"product.html","is_price_hidden":false,"price_hidden_label":"","categories":[14],"date_modified":"Mon,
        24 Sep 2012 01:34:57 +0000","event_date_field_name":"Delivery Date","event_date_type":"none","event_date_start":"","event_date_end":"","myob_asset_account":"","myob_income_account":"","myob_expense_account":"","peachtree_gl_account":"","condition":"New","is_condition_shown":false,"preorder_release_date":"","is_preorder_only":false,"preorder_message":"","order_quantity_minimum":0,"order_quantity_maximum":0,"open_graph_type":"product","open_graph_title":"","open_graph_description":null,"is_open_graph_thumbnail":true,"upc":null,"date_last_imported":"","option_set_id":null,"tax_class_id":0,"option_set_display":"right","bin_picking_number":"","custom_url":"\/tomorrow-is-today-red-printed-scarf\/","availability":"available","brand":{"url":"https:\/\/store-65j86n8y.bcapp.dev\/api\/v2\/brands\/17.json","resource":"\/brands\/17"},"images":{"url":"https:\/\/store-65j86n8y.bcapp.dev\/api\/v2\/products\/32\/images.json","resource":"\/products\/32\/images"},"discount_rules":{"url":"https:\/\/store-65j86n8y.bcapp.dev\/api\/v2\/products\/32\/discountrules.json","resource":"\/products\/32\/discountrules"},"configurable_fields":{"url":"https:\/\/store-65j86n8y.bcapp.dev\/api\/v2\/products\/32\/configurablefields.json","resource":"\/products\/32\/configurablefields"},"custom_fields":{"url":"https:\/\/store-65j86n8y.bcapp.dev\/api\/v2\/products\/32\/customfields.json","resource":"\/products\/32\/customfields"},"videos":{"url":"https:\/\/store-65j86n8y.bcapp.dev\/api\/v2\/products\/32\/videos.json","resource":"\/products\/32\/videos"},"skus":{"url":"https:\/\/store-65j86n8y.bcapp.dev\/api\/v2\/products\/32\/skus.json","resource":"\/products\/32\/skus"},"rules":{"url":"https:\/\/store-65j86n8y.bcapp.dev\/api\/v2\/products\/32\/rules.json","resource":"\/products\/32\/rules"},"option_set":null,"options":{"url":"https:\/\/store-65j86n8y.bcapp.dev\/api\/v2\/products\/32\/options.json","resource":"\/products\/32\/options"},"tax_class":{"url":"https:\/\/store-65j86n8y.bcapp.dev\/api\/v2\/taxclasses\/0.json","resource":"\/taxclasses\/0"}},{"id":33,"keyword_filter":null,"name":"[Sample]
        Anna, multi-colored bangles","type":"physical","sku":"","description":"<p><strong>How
        to write product descriptions that sell<\/strong><br \/>One of the best things
        you can do to make your store successful is invest some time in writing great
        product descriptions. You want to provide detailed yet concise informatio[...]
